<section class="account_information">
	<%= render :partial => 'shared/login_modal' %>
	<% if customer_signed_in? %>
		<em>Signed in as <%= current_customer.email %></em>
		<nav><%= link_to "Dashboard", customer_dashboard_path %> | <%= link_to "Sign Out", 
			destroy_customer_session_path, method: :delete %></nav>
	<% else %>
		<%= link_to "Sign In", "", id: "header_sign_in" %> | <%= link_to "Create an Account", 
			new_customer_registration_path %>
	<% end %>
</section>
