<section class="<%= @pricing_class %>" id="pricing">
	<h2>Excellent, Competitive Pricing</h2>
	<div class="descriptions">
		<div class="pricing_desc_left">
			<h4>Basic Packages</h4>
			<p>Our basic packages are perfect for business owners who want to make
				sure they reach 100% of their website's mobile visitors.</p>
		</div>
		<div class="pricing_desc_right">
			<h4>Professional Packages</h4>
			<p>Our professional packages are perfect for resellers, graphic and web designers, 
				or developers looking for a simple way to create high quality mobile websites.</p>
		</div>
	</div>
	<table class = "pricing_table">
		<tr class= "pricing_table_header"> 
			<th>&nbsp;</th>
			<th>Basic Single-Site</th>
			<th>Basic Multi-Site</th>
			<th>Professional</th>
			<th>Reseller</th>
			<th>Enterprise</th>
		</tr>
		<tr>
			<td class="left_table">Price</td>
			<td>$47.00/mo OR $/year</td>
			<td>$97.00/mo OR $/year</td>
			<td>$199.00/mo OR $/year</td>
			<td>$199.00/mo OR $/year</td>
			<td>$199.00/mo OR $/year</td>
		</tr>
		<tr>
			<td class="left_table">Maximum Sites</td>
			<td>20</td>
			<td>20</td>
			<td>20</td>
			<td>100</td>
			<td>Unlimited</td>
		</tr>
		<tr>
			<td class="left_table">Custom Domian</td>
			<td>Yes</td>
			<td>Yes</td>
			<td>Yes</td>
			<td>Yes</td>
			<td>Yes</td>
		</tr>
		<tr>
			<td class="left_table">Technical Support</td>
			<td>Unlimited Email Support</td>
			<td>Unlimited Email Support</td>
			<td>Unlimited Email Support</td>
			<td>Unlimited Email Support</td>
			<td>Unlimited Email Support</td>
		</tr>
		<tr>
			<td class="left_table">&nbsp;</td>
			<td><%= link_to "Try it now!", "#" %></td>
			<td><%= link_to "Try it now!", "#" %></td>
			<td><%= link_to "Try it now!", "#" %></td>
			<td><%= link_to "Try it now!", "#" %></td>
			<td><%= link_to "Try it now!", "#" %></td>
		</tr>
	</table>

</section>
