<script> window.loaded = false </script>
<%= javascript_include_tag 'site_creator' %>
<section class="site_creator">

	<div id="site_creator_main">
		<nav class="site_creator_nav">
			<a href="#" id="templates_link"><div class="creator_nav">Templates</div></a>
			<a href="#" id="creator_link"><div class="creator_nav">Features</div></a>
			<a href="#" id="summary_link"><div class="creator_nav">Summary</div></a>
		</nav>
		<section id="templates">
			TEMPLATES
			<!-- Insert The Templates, Open a Lightbox of the Image -->
		</section>

		<section id="creator">
			<div id="tools">
				<div id="tool_info">
					&nbsp;
					<!-- On Hover over a Tool, Present Information about that tool. -->
				</div>
				<div id="toolbox">
					<!-- Inserts all tools via erb -->
					<% @active_features.each_pair do |key, f| %>
						<div class="tool" id="<%= f.css_id %>_tool">
							<div id="<%= f.css_id %>">
								<img src="/assets/icons/<%= f.image %>" />
								<span class="tool_title"><%= f.title %></span>
								<div class="tool_options">
									<span class="edit">(Edit)</span> 
									<span class="delete">(X)</span>  
								</div>
							</div>
						</div>
					<% end %>
				</div>
			</div>
			<div id="feature_list">
				<div id="sortable">
					<!-- Insert Sortables via Draggable or jQuery if Editing -->
				</div>
			</div>
		</section>

		<section id="summary">
			<div id="site_options">
				<%= form_for :site,
					url: site_creator_parser_path,
					remote: true,
					method: :get,
					html: {class: 'site_form'} do |f| %>
					<%= f.label :title %>
					<%= f.text_field :title %>
					<%= f.label :slug %>
					<%= f.text_field :slug %>
					<%= f.label :gonna_add_image_upload_later %>
					<%= f.hidden_field :template %>
					<%= f.hidden_field :form_id, value: 'site' %>
					<%= f.hidden_field :site_type, value: current_customer.customer_type %>
					<%= f.submit "Finish Editing and Publish Site" %>
				<% end %>
			</div>
		</section>
	</div>
	<div id="mobile_preview">
	</div>
</section>
<section class="site_creator_modal">
	<div class=".alert"></div>
	<!-- Insert Form Here via jQuery -->
</section>


